# **Hope for Nevada Schools - A Look into The Ratings**
---

## School Rankings

While looking at the [Nevada Scorecard](https://nevadareportcard.nv.gov/DI/nv/2024), one of the first things I saw, in small unassuming text, was a link that says: State School Rankings. It has a csv file called "SchoolRatings.csv".

In [3]:
import pandas as pd
this_year_data = pd.read_csv("2024SchoolRatings.csv")
display(this_year_data.head())
display(this_year_data.tail())
this_year_data.info()

,Year,District Code,District Name,NSPF School Code,School Name,School Type,Total Index Score,Star Rating,Title I Status,% Proficient ELA,...,Advanced Diploma,4-Year Graduation Rate,5-Year Graduation Rate,Chronic Absenteeism,CSI,Yrs In Designation As CSI,TSI,Yrs In Designation As TSI,ATSI,Yrs In Designation As ATSI
0,2024,1,Churchill,1205.1,Best ES,Regular,43.3,Not Rated,YES,28.6,...,NaN,NaN,NaN,13.7,NO,NaN,NO,NaN,NO,NaN
1,2024,1,Churchill,1206.1,Lahontan ES,Regular,55.0,Not Rated,YES,NaN,...,NaN,NaN,NaN,18.5,NO,NaN,NO,NaN,NO,NaN
2,2024,1,Churchill,1207.1,Numa ES,Regular,26.8,1,YES,35.6,...,NaN,NaN,NaN,15.8,NO,NaN,YES,NaN,NO,NaN
3,2024,1,Churchill,1301.2,Churchill MS,Regular,17.0,1,YES,25.9,...,NaN,NaN,NaN,20.0,NO,NaN,NO,NaN,YES,2.0
4,2024,1,Churchill,1401.3,Churchill HS,Regular,42.5,2,NO,35.3,...,25.2,86.9,81.3,36.6,NO,NaN,NO,NaN,NO,NaN

,Year,District Code,District Name,NSPF School Code,School Name,School Type,Total Index Score,Star Rating,Title I Status,% Proficient ELA,...,Advanced Diploma,4-Year Graduation Rate,5-Year Graduation Rate,Chronic Absenteeism,CSI,Yrs In Designation As CSI,TSI,Yrs In Designation As TSI,ATSI,Yrs In Designation As ATSI
852,2024,18,State Public Charter School Authority,87316.2,CASLV Cadence MS,SPCSA,70.5,4,YES,59.3,...,NaN,NaN,NaN,16.2,NO,NaN,NO,NaN,NO,NaN
853,2024,18,State Public Charter School Authority,87316.3,CASLV Cadence HS,SPCSA,50.0,Not Rated,YES,NaN,...,NaN,NaN,NaN,20.5,NO,NaN,NO,NaN,NO,NaN
854,2024,18,State Public Charter School Authority,88101.1,Eagle NV ES,SPCSA,8.0,1,YES,7.0,...,NaN,NaN,NaN,48.0,YES,1.0,NO,NaN,NO,NaN
855,2024,18,State Public Charter School Authority,89409.3,Beacon ACAD HS,SPCSA,3.1,1,YES,<5,...,<5,15.2,36.9,46.5,YES,6.0,NO,NaN,NO,NaN
856,2024,18,State Public Charter School Authority,95301.3,Southern NV Trades HS,SPCSA,40.0,Not Rated,YES,NaN,...,NaN,NaN,NaN,61.7,NO,NaN,NO,NaN,NO,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 35 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Year                                         857 non-null    int64
 1   District Code                                857 non-null    int64
 2   District Name                                857 non-null    object
 3   NSPF School Code                             857 non-null    float64
 4   School Name                                  857 non-null    object
 5   School Type                                  857 non-null    object
 6   Total Index Score                            835 non-null    float64
 7   Star Rating                                  857 non-null    object
 8   Title I Status                               857 non-null    object
 9   % Proficient ELA                             830 non-null    object
 10  % Proficient Math                            830 non-null    object
 11  % Proficient Science                         779 non-null    object
 12  95% Participation Met Mathematics            838 non-null    object
 13  95% Participation Met ELA                    806 non-null    object
 14  Participation Warning                        857 non-null    object
 15  Participation Penalty                        857 non-null    object
 16  Continuing Participation Penalty             857 non-null    object
 17  % Meeting AGP ELA                            650 non-null    object
 18  % Meeting AGP Math                           650 non-null    object
 19  Perc_WIDA_AGP                                732 non-null    object
 20  % Meeting AGP EL                             732 non-null    object
 21  NAC 389.445 Credit Requirements (8th Grade)  203 non-null    object
 22  9th Grade Credit Sufficiency                 149 non-null    object
 23  CCR Participation                            161 non-null    object
 24  CCR Completion                               161 non-null    object
 25  Advanced Diploma                             152 non-null    object
 26  4-Year Graduation Rate                       165 non-null    object
 27  5-Year Graduation Rate                       159 non-null    object
 28  Chronic Absenteeism                          843 non-null    object
 29  CSI                                          857 non-null    object
 30  Yrs In Designation As CSI                    81 non-null     float64
 31  TSI                                          857 non-null    object
 32  Yrs In Designation As TSI                    0 non-null      float64
 33  ATSI                                         857 non-null    object
 34  Yrs In Designation As ATSI                   85 non-null     float64
dtypes: float64(5), int64(2), object(28)
memory usage: 234.5+ KB

---
This contains a ranking of each school with 34 columns of data. A list of all the columns are above. Looking at the the table, there are 18 categorical columns (year, district code, district name, school code, school name, school type, Title I status, 95% Participation met mathematics / ELA, Participation Warning / Penalty, Continuing Participation Penalty, CSI, Yrs In Designation as CSI, TSI, Yrs in Designation as TSI, ATSI, Yrs in Designation as ATSI) and 16 quantitative columns (Total Index Score, Star Rating, % Proficiency ELA / Math / Science, % Meeting AGP ELA / Math, Perc_WIDA_AGP, % Meeting AGP EL, 9th Grade Credit Sufficiency, CCR Participation, CCR Completion, Advanced Diploma, 4-year Graduation Rate, 5-year Graduation Rate, Chronic Absenteeism). In order to better understand the columns, I had to look through the Nevada Report Card Website.

What are these Columns?
---
There are 34 Columns that are in our data. In order to figure out what we need, I will list the columns in the following categories: 1) Critical: Need these columns for almost all analysis. These columns include mostly quantitative data. 2) Important: Might include categorical information that includes specific information about a school (Such as is it private / charter) 3) Niche Specific: These columns are only important to certain categories of school (such as high school graduation, or credit sufficiency) 4) Low importance: Won't be used for the data analysis, but might be useful to know. This includes school designations and participation categories.

**The Critical columns are as follows:**
1. School Name
2. Total Index Score (This is the score given to the school based on other factors).
3. Star Rating (Based on their TIS), Title 1 Status (Title I are schools in low socio-economic neighborhoods that are given extra funding)
4. % Proficient ELA (These three proficiencies are the percent of students considered "Proficient" based on SBAC testing)
5. % Proficient Math
6. % Proficient Science
7. % Meeting AGP ELA (AGP stands for adequate growth percentile, or how many students are achieving adequate growth)
8. % Meeting AGP Math
9. Perc_WIDA_AGP (WIDA testing is a subcategory of tests given to English Language Learners)
10. % Meeting AGP EL (Separate category for EL students to see if they are meeting growth).
11. Chronic Absenteeism (% of students missing more than 10% of days)

**The important columns are as follows:**
1. District Code (Allows us to easily classify which district we are working with)
2. School Type (Tells us whether the school is a public, magnet, or charter school)

**The niche specific columns are:**
1. NAC 389.445 Credit Requirements (8th Grade): A law that states an 8th-grade student must earn 1.5 units of credit in English, 1.5 units of credit in mathematics, 1 unit of credit in science, and 1 unit of credit in social studies.
2. 9th Grade Credit Sufficiency (Makes sure that 9th graders have earned at least 5 credits at the end of their first year in high school)
3. CCR Participation: Percent of students who participate in a College and Career Readiness Program including - Advanced Placement (AP), International Baccalaureate (IB), Dual Credit/Dual Enrollment (DC/DE), and Career and Technical Education (CTE)
4. CCR Completion: Percent of students who finish the CCR program.
5. Advanced Diploma: Percent of students who receive the Advanced Diploma. Requires 3.25 GPA, 4 years of math, 3 years of science, and 24 credits.
6. 4 Year Graduation Rate
7. 5 Year Graduation Rate

**The low importance category include:**
1. School Code
2. 95% Participation Met Mathematics: ALl of the participation categories involve tracking participation in state testing. I will most likely use these columns to remove schools that might be outliers.
3. 95% Participation Met ELA
4. Participation Warning
5. Participation Penalty
6. Continuing Participation Penalty
7. CSI: This designation is for the lowest 5 % of schools in CCSD
8. Yrs In Designation As CSI
9. TSI: Designation is for schools that have minority subgroups that are consistently under performing.
10. Yrs in Designation As TSI
11. ATSI: Designation for schools that fit the TSI category, but it is bad enough that the subgroup on its own is the cause of the school being CSI.
12. Yrs in Designation as ATSI.

Data Cleaning and Preparation
---
We are only using the critical and important columns for this analysis. We are going to also remove any outliers when it comes to lack of participation.